RewriteEngine on

Options +FollowSymLinks

#rewritecond %{http_host} ^http://servidor/projetosatuais/arteteck/versao2/layout/ [NC]
##rewriterule ^(.*)$ http://servidor/projetosatuais/arteteck/versao2/layout//$1 [r=301,NC]

ErrorDocument 400 /pagina-nao-encontrada.php?erro=400
ErrorDocument 403 /pagina-nao-encontrada.php?erro=403
#ErrorDocument 404 /pagina-nao-encontrada.php?erro=404
ErrorDocument 404 /404.php 
ErrorDocument 500 /pagina-nao-encontrada.php?erro=500
ErrorDocument 501 /pagina-nao-encontrada.php?erro=501
ErrorDocument 502 /pagina-nao-encontrada.php?erro=502
ErrorDocument 503 /pagina-nao-encontrada.php?erro=503
ErrorDocument 504 /pagina-nao-encontrada.php?erro=504
ErrorDocument 505 /pagina-nao-encontrada.php?erro=505

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# paginas 404
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule (.*) /pagina-nao-encontrada.php?erro=404 [L]

#permitir leitura de font-face com uso de url absoluta(firefox)
<FilesMatch "\.(ttf|otf|eot)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
    </IfModule>
</FilesMatch>

#Força a utilizar Cache-Control e Expires header
<IfModule mod_headers.c>
  Header unset ETag
</IfModule>
FileETag None
<IfModule mod_expires.c>
 ExpiresActive on
 ExpiresDefault "access plus 1 month"
 ExpiresByType text/cache-manifest "access plus 0 seconds"
 # Html
 ExpiresByType text/html "access plus 0 seconds"
 # Data
 ExpiresByType text/xml "access plus 0 seconds"
 ExpiresByType application/xml "access plus 0 seconds"
 ExpiresByType application/json "access plus 0 seconds"
 # Feed
 ExpiresByType application/rss+xml "access plus 1 hour"
 ExpiresByType application/atom+xml "access plus 1 hour"
 # Favicon
 ExpiresByType image/x-icon "access plus 1 week"
 # Media: images, video, audio
 ExpiresByType image/gif "access plus 1 month"
 ExpiresByType image/png "access plus 1 month"
 ExpiresByType image/jpg "access plus 1 month"
 ExpiresByType image/jpeg "access plus 1 month"
 ExpiresByType video/ogg "access plus 1 month"
 ExpiresByType audio/ogg "access plus 1 month"
 ExpiresByType video/mp4 "access plus 1 month"
 ExpiresByType video/webm "access plus 1 month"
 # HTC files
 ExpiresByType text/x-component "access plus 1 month"
 # Webfonts
 ExpiresByType application/x-font-ttf "access plus 1 month"
 ExpiresByType font/opentype "access plus 1 month"
 ExpiresByType application/x-font-woff "access plus 1 month"
 ExpiresByType image/svg+xml "access plus 1 month"
 ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
 # CSS / JS
 ExpiresByType text/css "access plus 1 year"
 ExpiresByType application/javascript "access plus 1 year"
 ExpiresByType application/x-javascript  "access plus 1 year"
</IfModule>
#Força o IE a sempre carregar utilizando a última versão disponível
<IfModule mod_headers.c>
  Header set X-UA-Compatible "IE=Edge,chrome=1"
  <FilesMatch "\.(js|css|gif|png|jpeg|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|oex|xpi|safariextz|vcf)$" >
    Header unset X-UA-Compatible
  </FilesMatch>
</IfModule>



<IfModule mod_deflate.c>
  <FilesMatch "\.(js|css|jpg|png|gif|ico|php|html|htm)$">
    <ifModule mod_filter.c>
      SetOutputFilter DEFLATE
      AddOutputFilterByType DEFLATE text/css text/javascript application/x-javascript text/html text/plain text/xml image/x-icon
    </IfModule>
  </FilesMatch>
</IfModule>


#Comprimir css e js
#<FilesMatch .*\.js.gz$>
#ForceType text/javascript
#Header set Content-Encoding: gzip
#Header set Vary: Accept-Encoding
#</FilesMatch>

#<FilesMatch .*\.css.gz$>
#ForceType text/css
#Header set Content-Encoding: gzip
#Header set Vary: Accept-Encoding
#</FilesMatch>
 
#ativar compressao gzip
RewriteOptions Inherit
ReWriteCond %{HTTP:accept-encoding} (gzip.*)
ReWriteCond %{REQUEST_FILENAME} !^.+\.gz$
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.+) $1.gz [L]

#comprimir textos
<IfModule mod_deflate.c>
AddOutPutFilterByType DEFLATE text/html text/xml
</IfModule>

#INICIO MENU
#RewriteRule ^/$ index.php  [QSA,L]
RewriteRule ^home$ index.php [QSA,L]