<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
     <rules>
       <rule name="Quem Somos">
        <match url="^quem-somos$" />
        <action type="Rewrite" url="quem-somos.php" />          
      </rule>
      <rule name="Contato">
        <match url="^contato$" />
        <action type="Rewrite" url="contato.php" />          
      </rule>
       <rule name="Contato - Envia">
        <match url="^contato-envia$" />
        <action type="Rewrite" url="contato-envia.php" />          
      </rule>
      <rule name="Moedas Estrangeiras">
        <match url="^moedas-estrangeiras$" />
        <action type="Rewrite" url="moedas-estrangeiras.php" />          
      </rule>
      <rule name="Remessas Internacionais">
        <match url="^remessas-internacionais$" />
        <action type="Rewrite" url="remessas-internacionais.php" />          
      </rule>
      <rule name="Seguro Viagem">
        <match url="^seguro-viagem$" />
        <action type="Rewrite" url="seguro-viagem.php" />          
      </rule>
    </rules>
  </rewrite>
</system.webServer>
</configuration>